# Server
PORT=5000

# PostgreSQL (local)
DATABASE_URL=postgresql://username:password@your-neon-host/neondb?sslmode=require

# Auth
JWT_SECRET=dev_secret_key_change_later

# Cloudflare R2 (Object Storage)
R2_ACCESS_KEY_ID=c07c41d5f8ad1dc171f082ac6827104b
R2_SECRET_ACCESS_KEY=f7e0f8fcb34a56328d983c8881760565affa07f3757ba6fa24c74237d9968255
R2_BUCKET_NAME=secure-file-sharing-system
R2_ENDPOINT=https://5ff214aafb47b59fc3acc9822e965747.r2.cloudflarestorage.com